[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
User=giacomo
WorkingDirectory=/home/giacomo/Projects/teleBot
ExecStart=/usr/bin/python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target
